<h2>Resultados:</h2>
<ul>
  <% results.each do |coin| %>
    <li>
      <%= image_tag coin[:image], alt: coin[:name], width: 32 %>
      <strong><%= coin[:name] %> (<%= coin[:symbol].upcase %>)</strong>
      <%= link_to "Ver preço", crypto_search_path(query: coin[:id]) %>
    </li>
  <% end %>
</ul>
