/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

 body{
    display: grid;
    align-items: center;
    background-color: #2F2F2F;
    
    align-items: center;
    text-align: center;
    align-content: center;
    padding-top: 1rem;
    padding-left: 18.81rem;
    padding-right: 18.81rem;
    
    /* Fonte */
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
      
 }

 .logo a{
     font-size: 3rem;
     color: #26DA6B !important;
     text-decoration: none;
 }


 #content_coins {
    padding: 2rem;
    
  }
  
  .coin-card {
    min-width:27.5rem ;
    max-width: 55.43rem;
    display: flex;
    align-items: center;
    background-color: rgba(71, 71, 71, 0.5) ;
    border-radius: 16px;
    padding: 2rem 2rem;
    color: white;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  
  .coin-image img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  
  .coin-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   
    
  }
  
  .coin-name {
   
    letter-spacing: 1px;
    text-transform: uppercase;
    
  }
  

  
  .coin-price {
    font-size: 2.5rem;
    font-weight: bold;
    
  }
  
  .coin-price .usd {
    font-size: 0.7rem;
    margin-left: 0.2rem;
    vertical-align: super;
    
    
  }

  .vl {
    border-left: 0.25rem solid white;
    height: 9.37rem;
  }
  
  .coin-spacer {
    border-left: 1px solid #999;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    
  }
  
